sim/recycling_mujoco/meshes/*.stl filter=lfs diff=lfs merge=lfs -text
sim/recycling_mujoco/meshes/*.obj filter=lfs diff=lfs merge=lfs -text
sim/recycling_mujoco/models/ckpt/*.pt filter=lfs diff=lfs merge=lfs -text
